<ul class="flex items-center gap-2 text-sm font-medium">
  <li>
    <a
      class="relative inline-flex cursor-pointer items-center gap-2 rounded-lg bg-nord-6 px-3 py-2 text-nord-0 hover:bg-nord-6"
      >Tab1</a
    >
  </li>
  <li>
    <a
      class="relative inline-flex cursor-pointer items-center gap-2 rounded-lg px-3 py-2 text-nord-3 hover:bg-nord-6"
      >Tab1</a
    >
  </li>
  <li>
    <a
      class="relative inline-flex cursor-pointer items-center gap-2 rounded-lg px-3 py-2 text-nord-3 hover:bg-nord-6"
      >Tab1</a
    >
  </li>
  <li>
    <a
      class="relative inline-flex cursor-pointer items-center gap-2 rounded-lg px-3 py-2 text-nord-3 hover:bg-nord-6"
      >Tab1</a
    >
  </li>
  <li>
    <a
      class="relative inline-flex cursor-pointer items-center gap-2 rounded-lg px-3 py-2 text-nord-3 hover:bg-nord-6"
      >Tab1</a
    >
  </li>
</ul>
