<div class="swiper-slide p-4">
  <div
    class="relative w-full overflow-hidden after:clear-both after:block after:content-['']"
  >
    <div class="relative float-left -mr-[100%] w-full">
      {{ picture }}
      <div class="absolute left-5 top-5 text-nord-6 md:block">
        <h2 class="text-5xl">{{ title }}</h2>
        <div class="text-xl">{{ description }}</div>
      </div>
    </div>
  </div>
</div>
