<article>
  <div><h3 class="text-nord-1 text-xl inline"><a href="{{ url }}" rel="bookmark" class="hover:underline">{{ label }}</a></h3> ({{ type }})</div>
  <div class="text-nord-3 text-md pl-3">{{ body }}</div>
</article>
