.page-top {
  padding: 10px 0 10px 0;
  color: #434c5e;
  background-color: #d8dee9;
}

.page-top__message {
  max-width: 64rem;
  margin-right: 2.5rem;
  margin-left: 2.5rem;
}

@media (min-width: 1024px) {
  .page-top__message {
    margin-right: auto;
    margin-left: auto;
  }
}
