<div
  x-data="{swiper: null}"
  x-init="swiper = new Swiper($refs.container, {
      loop: true,
      slidesPerView: 1,
      spaceBetween: 0,
    })"
  class="relative mx-auto flex flex-row"
>
  <div class="absolute inset-y-0 left-0 z-10 flex items-center">
    <button
      @click="swiper.slidePrev()"
      aria-label="Previous slide"
      class="-ml-2 flex h-10 w-10 items-center justify-center rounded-full bg-white shadow focus:outline-none lg:-ml-4"
    >
      <svg viewBox="0 0 20 20" fill="currentColor" class="chevron-left h-6 w-6">
        <path
          fill-rule="evenodd"
          d="M12.707 5.293a1 1 0 010 1.414L9.414 10l3.293 3.293a1 1 0 01-1.414 1.414l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 0z"
          clip-rule="evenodd"
        ></path>
      </svg>
    </button>
  </div>

  <div class="swiper-container" x-ref="container">
    <div class="swiper-wrapper">{{ slides }}</div>
  </div>

  <div class="absolute inset-y-0 right-0 z-10 flex items-center">
    <button
      @click="swiper.slideNext()"
      aria-label="Next slide"
      class="-mr-2 flex h-10 w-10 items-center justify-center rounded-full bg-white shadow focus:outline-none lg:-mr-4"
    >
      <svg
        viewBox="0 0 20 20"
        fill="currentColor"
        class="chevron-right h-6 w-6"
      >
        <path
          fill-rule="evenodd"
          d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
          clip-rule="evenodd"
        ></path>
      </svg>
    </button>
  </div>
</div>
