<div>
  <span><a href="{{ url }}" class="text-sm font-medium text-nord-1 hover:underline">{{ title }}</a></span>
  <div>
    <span class="line-through text-sm font-medium text-nord-11">{{ oldPrice }}</span>/
    <span class="text-sm font-medium text-nord-3">{{ newPrice }}</span>
  </div>
</div>
