<li>
  <a
    href="{{ url }}"
    class="lg:hover:bg-opacity-1 flex px-4 py-2 font-medium text-nord-3 hover:bg-nord-6 hover:bg-opacity-40 lg:mr-2 lg:rounded-lg lg:bg-nord-1 lg:px-5 lg:py-2.5 lg:text-sm lg:text-nord-6 lg:hover:bg-nord-3"
    >{{ title }}</a
  >
</li>
