<a href="{{ url }}" class="text-nord-3 hover:text-nord-1">
  <svg
    class="h-5 w-5"
    fill="currentColor"
    viewbox="0 0 24 24"
    aria-hidden="true"
  >
    <path fill-rule="evenodd" d="{{ svg }}" clip-rule="evenodd" />
  </svg>
</a>
