<div class="relative">
  <a href="{{ link }}" title="{{ title }}">
    <div
      class="z-10 h-48 w-full border-2 border-nord-4 bg-cover bg-center bg-no-repeat opacity-50"
      style="background-image:url('{{ image }}');"
    ></div>
    <div
      class="absolute inset-x-0 bottom-5 text-center text-2xl uppercase text-nord-6 bg-nord-9"
    >
      {{ cta }}
    </div>
  </a>
</div>
