<section class="mt-5 bg-white">
  <div class="py-8 px-4 mx-auto max-w-screen-md text-center lg:py-16 lg:px-12">
    <div class="mx-auto mb-4 w-40">
      {{ logo }}
    </div>
    <h1
      class="mb-4 text-4xl font-bold tracking-tight leading-none text-nord-1 lg:mb-6 md:text-5xl xl:text-6xl">{{ title }}</h1>
    <p class="font-light text-nord-3 md:text-lg xl:text-xl">{{ message }}</p>
  </div>
</section>
